#buttonLabel {
    -fx-min-height: 35;
    -fx-min-width: 230;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #cacbcf;
    -fx-background-insets: 0;
}

#buttonLabel:hover {
    -fx-text-fill: #ff6a13;
    -fx-underline: true;
}

#buttonLabel:focused {
    -fx-text-fill: #ff6a13;
}

#buttonLabel:focused:hover {
    -fx-text-fill: #ff6a13;
}

#buttonLabel:focused:hover:armed {
    -fx-text-fill: #cacbcf;
}

#button {
    -fx-min-height: 35;
    -fx-min-width: 230;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    /*-fx-padding: 0 0 0 0;*/
    -fx-border-color: #39393c;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1e2123;
    /*-fx-font-family:;
    -fx-font-size:;*/
    -fx-text-fill: #cacbcf;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#button:hover {
    -fx-background-color: #271b13;
    -fx-border-color: #ff6a13;
    -fx-border-width: 1;
    -fx-text-fill: #ff6a13;
}

#button:focused {
     -fx-border-color: #ff6a13, #39393c;
     -fx-border-width: 1, 1;
     -fx-border-radius: 0, 0;
     -fx-border-insets: 0, 1;
     -fx-border-style: solid inside, dotted outside;
}

#button:focused:hover {
    -fx-border-color: #ff6a13;
    -fx-background-color: #271b13;
    -fx-text-fill: #ff6a13;
}

#button:focused:hover:armed {
    -fx-background-color: #ff6a13;
    -fx-text-fill: #cacbcf;
}

#textField {
    -fx-min-height: 25;
    -fx-min-width: 230;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    /*-fx-padding: 0 0 0 0;*/
    -fx-border-color: #39393c;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1e2123;
    /*-fx-font-family:;
    -fx-font-size:;*/
    -fx-text-fill: #cacbcf;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#textField:focused {
     -fx-border-color: #ff6a13, #39393c;
     -fx-border-width: 1, 1;
     -fx-border-radius: 0, 0;
     -fx-border-insets: 0, 1;
     -fx-border-style: solid inside, dotted outside;
}

#textField:hover {
    -fx-border-color: #ff6a13;
    -fx-background-color: #271b13;
    -fx-text-fill: #ff6a13;
}

#passwordField {
    -fx-min-height: 25;
    -fx-min-width: 230;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    /*-fx-padding: 0 0 0 0;*/
    -fx-border-color: #39393c;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1e2123;
    /*-fx-font-family:;
    -fx-font-size:;*/
    -fx-text-fill: #cacbcf;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#passwordField:focused {
     -fx-border-color: #ff6a13, #39393c;
     -fx-border-width: 1, 1;
     -fx-border-radius: 0, 0;
     -fx-border-insets: 0, 1;
     -fx-border-style: solid inside, dotted outside;
}

#passwordField:hover {
    -fx-border-color: #ff6a13;
    -fx-background-color: #271b13;
    -fx-text-fill: #ff6a13;
}